body {
    background-color: #FDA9B8;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 3rem;
    color: #000;
}

.app-task__main-title {
    color: #2B6878;
}

.app-task__container {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.app-task__task-title {
    color:#2B6878;
}

.app-task__button, .app-task__sort-button {
    outline: none;
    background: none;
    cursor: pointer;
    background-color: #2B6878;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1em;
    color:#fff;
    margin:1em;
}

.app-task__final-result {
    color: #2B6878;
    font-size:1.5em;
}