body {
    background-color: #1A5DFF;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 3rem;
    color: #FFFFFF;
}

.app-task__main-title {
    color: #FFFFFF;
    font-size:3em;
}

.app-task__container {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.app-task__task-title {
    color:#EB7A67;
    font-size:2em;
}

.app-task__button, .app-task__sort-button, .app-task__refresh_button {
    outline: none;
    background: none;
    cursor: pointer;
    background-color: #EB7A67;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1em;
    color:#fff;
    margin:1em;
}

.app-task__refresh-container {
    text-align:center;
}

.app-task__refresh_button {
  text-align: right;
}

.app-task__refresh_button:hover {
    background-color: #fff;
    color:#EB7A67;
}

.app-task__final-result {
    color: #FFFFFF;
    font-size:1.5em;
}

.app-task__result_0, .app-task__result_1, .app-task__result_2 {
    font-size: 1.5em;
} 